<ion-tabs tabs-only>
  <ion-tab-bar slot="top">
    <ion-tab-button (click)="prevFecha()">
      <ion-icon name="arrow-back"></ion-icon>
      <ion-label>Atras</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="nextFecha()">
      <ion-icon name="arrow-forward"></ion-icon>
      <ion-label>Siguiente</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-tabs tabs-only2>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="jornada">
      <ion-icon name="football"></ion-icon>
      <ion-label>Jornada</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="clasificacion">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Clasificacion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>